h1{
    color:rgb(255, 38, 0);
    text-align: center;
    font-size: 26px;
    font-family: 'Georgia' ;
    font-weight: bold;
}
#valente{
    min-width: 50vw;
    max-width: 80vw;
    border-radius: 25px;
    display: block;
    margin: auto;
}
p{
    text-align: center;
    font-size: 12px;
    margin-left: 20vw;
    margin-right: 20vw;
    font-weight: 200px;
}
div{
    text-align: justify;
}