#bottom{
    justify-content: center; 
}
#lfooter{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    color: white;
}
footer{
    width: 100%; 
    margin-bottom: 0%;
}