header{
    height: auto;
    font-weight: bold;
    background-color: var(--cor1);
    box-shadow: 0 8px 10px white;
    text-align: center;
}
.navegação{
    display: inline-block;
    padding: 10px;
    font-family: 'Helvedica';
    margin: 0;
}
nav a{
    margin: 0;
    padding: 0;
    font-size: 3vh;
    color: white;
    align-items: center;
    text-decoration: none;
}
nav{
    background-color: var(--cor1);
}
a:hover{
    color: rgb(33, 199, 254);
}