*{
    margin: 0%;
    padding: 0%;
}
:root{
    --cor1:rgb(255, 38, 0) ;
}
#card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
h1{
    text-align: center;
    color: var(--cor1);
    margin-bottom: 1%;
}
img{
    height: 30vh;
    border-radius: 10px;
    display: block;
    margin: auto;
}
p{
    margin-left: 40vw;
    margin-right: 40vw;
}
.divs{
    background-color: blue;
}