:root{
    --cor1:rgb(255, 38, 0) ;
}
h1{
    color:var(--cor1);
    text-align: center;
    font-size: 26px;
    font-family: 'Georgia' ;
    font-weight: bold;
}
#foto1{
    min-width: 200px;
    max-width: 400px;
    width: 30vw;
    border-radius: 25px;
    display: block;
    margin: auto;
}
p{
    text-align: center;
    max-width: 28px;
    min-width: 12px;
    font-size: 12px;
    margin-left: 20vw;
    margin-right: 20vw;
    font-weight: 200px;
}
div{
    text-align: justify;
}
a{
    width: 20px;
    max-width: 20px;
    min-width: 10px;
    border-radius: 2%;
    left: calc(100vw - 10px);
}