@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baskervville+SC&family=Bungee+Tint&family=Matemasie&family=PT+Sans+Narrow:wght@400;700&display=swap');
body{
    background-color: azure ;
    margin: 0%;
    padding: 0%;
}
:root{
    --cor1:rgb(3, 115, 184) ;
}
.titulo{
    text-align: left;
    margin: 0%;
    font-family: Georgia;
}
h1{
    color:var(--cor1);
    text-align: center;
    font-size: 5vh;
    font-family: 'Papyrus' ;
    font-weight: bold;
}
h2{
    text-align: center;
    font-family: 'Papyrus';
    font-weight: bold;
    height: 4vh;
    color: var(--cor1);
}
h5{
    text-align: center;
    font-family: 'Papyrus';
    font-size: 3vh;
}
p{
    font-family: 'Courier New';
    font-size: 3vh;
    min-height: 2vh;
}
.texto{
    width: 95vw;
    max-width: 95px;
    min-width: 80vw;
    margin: auto;
} 
p::first-letter{
    font-size: 4vh;
}
.foto1{
    min-width: 35px;
    max-width: 200px;
    width: 30vw;
    border-radius: 25px;
    margin: auto;
}
.foto{
    display: block;
    margin: auto;
    height: auto;
    width: 50vw;
    max-width: 400px;
    min-width: 150px;
    border-radius: 25px;
}
.imgalbum{
    min-width: 200px;
    max-width: 300px;
    width: 30vw;
    border-radius: 25px;
    margin: auto;
    display: block;
}
#card{
    display: flex;
    justify-content: center;
    gap: 1%;
}
#card2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}
iframe{
    width: 70vw;
    display: block;
    margin: auto ;
}
li{
    font-family: 'Courier New';
    font-size: 3vh;
}
caption{
    text-align: center;
    color: var(--cor1);
    font-size: 3vh;
    max-height: 2.5vh;
    min-height: 1vh;
    font-family: 'Papyrus';
    font-weight: bold;
    margin-bottom: 2%;
}
table{
    border-collapse: collapse;
    border: solid, 1px, rgb(1, 1, 92);
    background-color: rgb(205, 227, 255);
    width: 50vw;
    min-width: 320px;
    min-height: 350px;
    max-width: 50vw;
    max-height: 50vw;
    height: 50vh;
    margin: auto;
    table-layout: fixed;
}
thead{
    height: 5vh;
    background-color:  rgb(126, 181, 253);
}
td{
    border: solid, 1px, rgb(1, 1, 92);
    text-align: center;
    font-size: 2.5vh;
    max-height: 2.5vh;
    min-height: 1vh;
    font-family: 'Courier New';
}
th{
    font-family: 'Papyrus' ;
    border: solid, 1px, rgb(1, 1, 92);
    font-size: 3vh;
    max-height: 3vh;
    min-height: 3vh;
    font-weight: bold;
}
tr{
    border: solid, 1px, rgb(1, 1, 92);
    font-size: 2vh;
    max-height: 3.5vh;
    min-height: 2.5vh;
}
table tr:nth-child(even){
    background-color:  rgb(161, 199, 249);
}
tfoot td{
    text-align: right;
    padding-right: 1%;
}

