:root{
    --cor1:rgb(177, 44, 102);
}
#ftprincipal{
    width: 30vw;
    margin: auto;
    display: block;
    border-radius: 25px;
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 2%;
}
h1{
    color: var(--cor1);
    font-family: 'Papyrus';
    font-weight: bold;
    padding: 1%;
    display: flex;
    justify-content: center;
}
main{
    height: 82vh;
    width: 100vw;
}
body{
    background-color: rgb(254, 211, 236);
}
p{
    font-size: 3vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-family: 'StencilStd';
    text-align: center;
}