@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baskervville+SC&family=Bungee+Tint&family=Matemasie&family=PT+Sans+Narrow:wght@400;700&display=swap');
:root{
    --cor1:rgb(177, 44, 102);
}
body{
    background-color: rgb(254, 211, 236);
}
h1{
    margin-top: 1%;
    color: var(--cor1);
    font-family: 'Matemasie';
    font-weight: bold;
    padding: 1%;
    display: flex;
    justify-content: center;
    font-size: 4.5vh;
    min-height: 3.5vh;
}
h2{
    text-align: center;
    color: var(--cor1);
    font-family: 'papyrus';
    margin-bottom: 1%;
}
h3{
    text-align: center;
    font-family: 'Papyrus';
    font-size: 3vh;
    color: var(--cor1);
    margin-top: 1%;
}
p{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3vh;
    font-family: 'StencilStd';
}
.texto1{
    font-size: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'StencilStd';
    text-align: justify;
    position: relative;
}
.projeto{
    font-size: 3vh;
    max-height: 3vh;
    min-height: 2.5vh;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
.link{
    text-decoration: none;
    font-family:'PT Sans Narrow';
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 60px;
    height: 50px;
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 1%;
}
.link:hover{
    color: black;
    border: solid double black 2px;
}
.cardd:hover{
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
}
#ftprincipal{
    width: 20vw;
    margin: auto;
    display: block;
    border-radius: 4%;
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 1%;
}
.foto1{
    min-width: 35px;
    max-width: 150px;
    width: 20vw;
    border-radius: 25px;
    margin: auto;
}
.imgprojeto{
    margin: 10%;
    min-width: 200px;
    max-width: 200px;
    width: 30vw;
    border-radius: 25px;
    margin: auto;
    display: block;
}
#card{
    display: flex;
    justify-content: center;
    gap: 1%;
}
#card2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
    background-color: var(--cor1);
    padding-bottom: 1%;
    width: 90vw;
    min-width: 325px;
    margin: auto;
    border-radius: 25px;
    border: 2px double black;
}
.cardd{
    margin-top: 1%;
    padding-top: 1%;
    width: 50vw;
    max-width: 400px;
    min-width: 300px;
    height: 55vh;
    background-color: white;
    border-radius: 25px;
}
#form{
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 50vw;
    max-width: 300px;
    min-width: 250px;
    height: 50vh;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 25px;
}
button{
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    color: white;
    margin-top: 5%;
    width: 70px;
    height: 30px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 20px , 20px,  20px ,20px white;
}
label{
    font-family: 'papyrus';
    color: white;
    font-weight: bold;
    padding: 2%;
}
input{
    margin: 2%;
}
